{sys, [
       {lib_dirs, ["../../"]},
       {rel, "osmo", "1",
        [
         kernel,
         stdlib,
         sasl,
	 osmo_ss7
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "osmo"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, osmo_ss7, [{incl_cond, include}]}
      ]}.

{target_dir, "osmo"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/osmo", "bin/osmo"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
